<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Center</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <style type="text/css"/>
</head>
<body ng-app="gameCenter">
    <div class="container">
        <h1>Hello</h1>
        <div ng-controller="indexController">
            <p>Welcome, User</p>
        </div>
    </div>
    <script src="js/angular-bootstrap.js" type="text/javascript"></script>
    <scrip src="gameCenter.js"></scrip>
</body>
</html>